body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
  }
  
  header {
    margin: 2em auto 2em auto;
  }

  #name{
    font-size: 2em;
    font-weight: 300; 
    text-transform: uppercase;
  }

  p {
    margin: auto;
    width: 70%;
  }
    
   /* main {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: max-content;
      grid-auto-flow: row dense;
    } */ 
      
  img {
    /* ratio for image scaling */
    margin: auto;
    width: 50%;
  }

  #cryptocompare{
    font: italic; 
    font-size: 1em;
  }