// COLORS
$primary-color: #ff00cc;
$secondary-color: #4040c5;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #242424;

$dark-grey: #242424;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
